*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

body{
    background-color: #101010;
}

.navbar{
    background-color: transparent;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    position: fixed;
    top: 0;
    right: 50px;
    left: 50px;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-radius: 0 0 30px 30px;
}

.navbar.scrolled{
    background-color: #1d1d1d;
}

.logo a{
    color: white;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
}

.logo a:hover{
    text-decoration: underline;
}

.nav-links{
    display: flex;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.nav-links li{
    margin: 0 15px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out ;
}

.nav-links a:hover{
    color: #1ed760;
}

.title-artis{
    font-weight: bolder;
    font-size: 30px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.title-artis:hover{
    text-decoration: underline;
    color: #1ed760;
}

.container{
    background-color: #1d1d1d;
    padding: 50px;
    margin : 150px;
    border-radius: 2rem;
}

.artis-container{
    display: flex;
    overflow-x: auto;
}

.artis-container .artis{
    width: 200px;
    padding: 30px;
    margin-right: 2rem;
    cursor: pointer;
}

.artis-container .artis:hover{
    width: 200px;
    margin-right: 2rem;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

.artis-container .artis img{
    width: 100%;
    border-radius: 50%;
    margin-right: 2rem;
}

.artis-container .artis .name{
        font-weight: bolder;
        font-size: 16px;
        margin-right: 2rem;
}

.artis-container .artis .role{
    color: lightgrey;
    font-size: 14px;
    margin-right: 12px;
}

.artis .image{
    position: relative;
}

.artis .image .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0,2s ease-in-out;
}


.container .artis .overlay img {
    width: 48px;
    margin-left: 100px;
    margin-top: 70px;
    opacity: 0;
}

.container .artis .overlay img:hover{
    opacity: 1;
}

.judul{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px;
}

.container-music{
    display: block;
}

.music-container{
    width: 50%;
    background-color: #1d1d1d;
    border-radius: 2rem;
    margin-left: 25%;
    margin-top: 30px;
    display: flex;
    cursor: pointer;
}

.music .music-play{
    margin: 10px;
}

.music .music-play audio{
    margin: 20px;
}

.music-container .music{
    padding: 30px;
    margin: 30px;
    display: flex;
}

.music-container .name{
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
}

.music img{
    border-radius: 10%;
    width: 15rem;
    height: 15rem;
}



